<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Booknook{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> -->
    {% block styles %}{% endblock %}
</head>
<body class="font-sans bg-gray-100">
    <div class="container mx-auto">
        {% if current_user.is_authenticated %}
            <div class="mb-4">
                <span class="text-gray-700">Welcome, {{ current_user.username }}!</span>
                <a href="{{ url_for('logout') }}" class="text-blue-500 ml-2">Logout</a>
            </div>
        {% endif %}
    </div>
    <div class="container mx-auto">
        {% block content %}
        <div class="container">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}
    
            {% block page_content %}{% endblock %}
        </div>
        {% endblock %}
    </div>
</body>
</html>
