{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="text-3xl font-semibold mb-4">Login</h1>
    <form action="/login" method="post" class="mb-4">
        <div class="mb-4">
            <label for="username" class="block text-gray-700 text-sm font-bold mb-2">Username:</label>
            <input type="text" name="username" class="form-input w-full" required>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">Password:</label>
            <input type="password" name="password" class="form-input w-full" required>
        </div>
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Login</button>
    </form>
{% endblock %}
