{% extends 'base.html' %}

{% block title %}Search Book{% endblock %}

{% block content %}
<h1 class="flex text-3xl font-bold mb-4 mt-10 justify-center">Book Search</h1>
{% set dataSource = 'openLibrary' %}
<form action="{{ url_for('search_book', data_source=dataSource) }}" method="post">
    <div class="flex justify-center">
        <input type="text" name="search_book_query" class="rounded-l-lg p-2 border-t mr-0 border-b border-l text-gray-800 border-gray-200 bg-white w-96" placeholder="Search for books by title or author...">
        <button type="submit" class="px-8 rounded-r-lg bg-blue-500 text-white p-2 hover:bg-blue-700">Search</button>
        <select id="dataSource" name="dataSource" class="ml-2 p-2 border border-gray-300 rounded-l-lg rounded-r-lg">
            <option value="openLibrary" {% if dataSource == 'openLibrary' %}selected{% endif %}>Open Library</option>
            <option value="googleBooks" {% if dataSource == 'googleBooks' %}selected{% endif %}>Google Books</option>
        </select>
    </div>
</form>
{% if books %}
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold text-blue-700">Search Results for '{{ search_book_query }}'</h1>
        {% for book in books %}
            <div class="bg-white shadow p-4 mt-4 rounded-md">
                <h2 class="text-xl font-semibold text-blue-700">{{ book.title }}</h2>
                <p class="text-gray-600">{{ book.authors }}</p>
                <p class="mt-2">{{ book.description }}</p>
                <p class="text-gray-700 mt-2">Published: {{ book.published_date }}</p>
                <p class="text-gray-700">Page Count: {{ book.page_count }}</p>
                <p class="text-gray-700">Language: {{ book.language }}</p>
                <div class="flex items-center mt-4">
                    {% for i in range(book.rating) %}
                        <svg class="w-5 h-5 text-yellow-500 mr-1" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 0l2.4 7.4h7.6l-6 4.6 2.4 7.4-6-4.6-6 4.6 2.4-7.4-6-4.6h7.6z"></path>
                        </svg>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% if error %}
<p style="color: red;">{{ error }}</p>
{% endif %}
{% endblock %}
