{% extends 'base.html' %}

{% block title %}Search Book{% endblock %}

{% block content %}
    <h1 class="text-3xl font-bold text-center mt-10 mb-6">Book Search</h1>
    <form action="{{ url_for('search_book') }}" method="post" class="flex justify-center mb-8">
        <input type="text" name="search_book_query" class="form-input rounded-l-lg p-3 border border-gray-300 shadow-sm w-96" placeholder="Search for books by title or author...">
        <button type="submit" class="px-6 rounded-r-lg bg-blue-500 text-white font-semibold hover:bg-blue-600 focus:ring-2 focus:ring-blue-300">Search</button>
        <select id="data_source" name="data_source" class="ml-3 p-3 border border-gray-300 rounded-md shadow-sm bg-white">
            <option value="googleBooks" {% if dataSource == 'googleBooks' %}selected{% endif %}>Google Books</option>
            <option value="openLibrary" {% if dataSource == 'openLibrary' %}selected{% endif %}>Open Library</option>
        </select>
    </form>

    {% if books %}
        <div class="container mx-auto p-4">
            <h2 class="text-2xl font-semibold mb-4">Search Results for "{{ search_book_query }}" from {{ data_source }}</h2>
            {% for book in books %}
                <div class="bg-white shadow-md p-5 mt-4 rounded-lg flex">
                    <div class="flex-grow">
                        <h3 class="text-xl font-bold text-blue-600">{{ book.title }}</h3>
                        <p class="text-gray-600 mt-1">{{ book.authors }}</p>
                        <p class="text-gray-800 mt-2">{{ book.description }}</p>
                        <p class="text-sm mt-3 text-gray-700">Published: {{ book.published_date }}</p>
                        <p class="text-sm text-gray-700">Page Count: {{ book.page_count }}</p>
                        <p class="text-sm text-gray-700">Language: {{ book.language }}</p>
                        <div class="flex items-center mt-4">
                            {% for i in range(book.rating) %}
                                <svg class="w-5 h-5 text-yellow-500" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 0l2.4 7.4h7.6l-6 4.6 2.4 7.4-6-4.6-6 4.6 2.4-7.4-6-4.6h7.6z"></path>
                                </svg>
                            {% endfor %}
                        </div>
                    </div>
                    <form class="ml-auto flex items-start" action="{{ url_for('add_book')}}" method="post">
                        <input type="hidden" name="title" value="{{ book.title }}">
                        <input type="hidden" name="author" value="{{ book.authors }}">
                        <input type="hidden" name="rating" value="{{ book.rating }}">
                        <input type="hidden" name="total_page_count" value="{{ book.total_page_count }}">
                        <button type="submit" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded-lg focus:ring-2 focus:ring-green-300">Add</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if error %}
        <p class="text-red-500 text-center mt-4">{{ error }}</p>
    {% endif %}
{% endblock %}
